body {
  /*min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-size: 15vmin;
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.section-lg {
  /* light grey section */
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #e3e3e3;
}

.section-w {
  /* white section */
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.custom-header {
  font-size: 7.5vmin;
  font-weight: 300;
  text-align: center;
  margin-bottom: 2rem;
}

.pic25brad {
  border-radius:25%;
}

.custom-container {
  margin-left: 10%;
  margin-right: 10%;
}

.custom-title {
  font-size: 5vmin;
}

.custom-pgraph {
    font-size: 3vmin;
    font-weight: 200;
    padding-left: 15px;
    padding-right:15px;
}

.custom-frame {
  font-family: monospace;
  white-space: pre-wrap;
  border-style: dashed;
  border-color: red;
  font-size: 1.7vmin;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 5%;
  padding-right: 5%;
  color: black;
  word-wrap: break-word;
}
