body {
  /*min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-size: 10vw;
  font-weight: 300;
}

.jumbotron .container {
  max-width: 60%;
}

.section-lg {
  /* light grey section */
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #e3e3e3;
}

.section-w {
  /* white section */
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #fff;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.custom-header {
  font-size: 5vw;
  font-weight: 300;
  text-align: center;
  margin-bottom: 2rem;
}

.pic25brad {
  border-radius:25%;
}

.picBuildMaster {
  border-radius: 0;
  width: 15%;
  max-width:15%;
}

.picBuild {
  border-radius: 0;
  width: 35%;
  max-width:35%;
}

.custom-container {
  margin-left: 10%;
  margin-right: 10%;
}

.custom-title {
  font-size: 3vw;
}

.custom-pgraph {
  font-size: 1.5vw;
  font-weight: 200;
  padding-left: 15px;
  padding-right:15px;
}

.custom-pgraph p {
  margin-top: 0.5rem;
}

.custom-frame {
  font-family: monospace;
  white-space: pre-wrap;
  border-style: dashed;
  border-color: red;
  font-size: 0.85vw;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 1%;
  padding-right: 1%;
  color: black;
  word-wrap: normal;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  font-family: monospace;
  font-size: 2.5vw;
}

.row:before,
.row:after {
  display: block;
}
